img {
    width: 50%
}
body{
  background:url("https://images.unsplash.com/photo-1543364195-bfe6e4932397?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1601&q=80");
  background-size: cover;
}
#hawa {
  background-image: url("img/hwater.jpeg");
  background-size: cover;
}
#ITALY {
  background-image: url("img/italy.jpeg");
  background-size: cover;
  color: white;
}
#homeit {
  color: blue;
  border: solid white 2px;
  background-color: white;
}
